<?xml version="1.0"?>
<config>
    <modules>
        <Lybe_Budbee>
            <version>0.1.0</version>
        </Lybe_Budbee>
    </modules>
    <global>
        <models>
            <lybe_budbee>
                <class>Lybe_Budbee_Model</class>
            </lybe_budbee>
            <checkout>
                <rewrite>
                    <type_onepage>lybe_budbee_Model_Checkout_Onepage</type_onepage>
                </rewrite>
            </checkout>
            <sales>
                <rewrite>
                    <order>lybe_budbee_Model_Sales_Order</order>
                </rewrite>
            </sales>
        </models>
        <helpers>
            <lybe_budbee>
                <class>Lybe_Budbee_Helper</class>
            </lybe_budbee>
        </helpers>
        <blocks>
            <lybe_budbee>
                <class>Lybe_Budbee_Block</class>
            </lybe_budbee>
            <!--<checkout>
                <rewrite>
                    <onepage_progress>Lybe_Budbee_Block_Onepage_Progress</onepage_progress>
                </rewrite>
            </checkout>-->
        </blocks>
        <resources>
            <budbee_setup>
                <setup>
                    <module>Lybe_Budbee</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </budbee_setup>
            <connection>
                <use>core_setup</use>
            </connection>
            <lybe_budbee_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </lybe_budbee_read>
            <lybe_budbee_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </lybe_budbee_write>
        </resources>
        <events>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <save_date>
                        <type>singleton</type>
                        <class>lybe_budbee/observer</class>
                        <method>saveDesiredDeliveryTime</method>
                    </save_date>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
            <sales_convert_order_to_quote>
                <observers>
                    <copy_delivery_date>
                        <type>singleton</type>
                        <class>lybe_budbee/observer</class>
                        <method>copyDesiredDeliveryTimeToQuote</method>
                    </copy_delivery_date>
                </observers>
            </sales_convert_order_to_quote>
        </events>
        <fieldsets>
            <sales_convert_quote_address>
                <budbee_desired_delivery_date>
                    <to_order>*</to_order>
                </budbee_desired_delivery_date>
                <budbee_door_code>
                    <to_order>*</to_order>
                </budbee_door_code>
                <budbee_outside_door>
                    <to_order>*</to_order>
                </budbee_outside_door>
            </sales_convert_quote_address>
        </fieldsets>
    </global>
    <frontend>
        <layout>
            <updates>
                <lybe_budbee module="lybe_budbee">
                    <file>lybe_Budbee.xml</file>
                </lybe_budbee>
            </updates>
        </layout>
        <routers>
            <lybe_budbee>
                <use>standard</use>
                <args>
                    <module>Lybe_Budbee</module>
                    <frontName>budbee</frontName>
                </args>
            </lybe_budbee>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <adepta_deliverytime>
                    <file>lybe_Budbee_Adminhtml.xml</file>
                </adepta_deliverytime>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <carriers>
            <lybe_budbee>
                <active>1</active>
                <sort_order>10</sort_order>
                <model>lybe_budbee/budbee</model>
                <title>Budbee Express Home delivery</title>
                <sort_order>10</sort_order>
                <sallowspecific>1</sallowspecific>
            </lybe_budbee>
        </carriers>
    </default>
</config>